#wrap {
  width: 100%;
}
#wrap #quickMenu {
  position: absolute;
  top: 674.578125px;
  right: 20px;
  width: 80px;
  z-index: 4;
}
#wrap #quickMenu.on {
  position: fixed;
  top: 50%;
  margin-top: -100px;
}
#wrap #quickMenu ul {
  width: 100%;
}
#wrap #quickMenu ul li {
  width: 100%;
}
#wrap #quickMenu ul li:first-child {
  padding: 0 0 10px 0;
}
#wrap #quickMenu ul li a {
  width: 100%;
  display: block;
}
#wrap #quickMenu ul li:nth-child(1) a img {
  width: 100%;
}
#wrap #quickMenu ul li:nth-child(2) a, #wrap #quickMenu ul li:nth-child(3) a {
  padding: 8px 0;
  border: 1px solid #ddd;
  border-bottom: 0;
  font-size: 12px;
  color: #333;
  text-align: center;
}
#wrap #quickMenu ul li:last-child a {
  border-bottom: 1px solid #ddd;
}