$con_width : 1050px;
$p_color : #5f0080;

#wrap {
   width:100%;
   #topModal{
      width:100%;
      height: 42px;
      background: $p_color;
      .container {
         width: 100%;
         max-width: $con_width;
         height: 100%;
         margin: 0 auto;
         position: relative;
         h2 {           
            z-index: 1;
            position: relative;
            font-size: 14px;
            font-weight: 500;            
            width: 100%;
            height: 100%;
            a {
               display: block;
               width: 100%;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               color: #fff;
               strong {
                  font-weight: 700;
               }   
            }
         }
         a {
            z-index: 2;
            position: absolute;
            top:0;
            right:0;
            width:42px;
            height:42px;
            img {
               width:100%;
            }
         }
      }
   }
}