#wrap {
  width: 100%;
}
#wrap #mainSignup {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 50px 0 100px 0;
}
#wrap #mainSignup .container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
#wrap #mainSignup .container .title {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 0 80px 0;
  border-bottom: 2px solid #222;
}
#wrap #mainSignup .container .title h2 {
  font-size: 28px;
  color: #333;
}
#wrap #mainSignup .container .title span {
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 12px;
}
#wrap #mainSignup .container .title span i {
  color: #ee6a7b;
}
#wrap #mainSignup .container .content {
  width: 100%;
}
#wrap #mainSignup .container .content form ul {
  width: 100%;
}
#wrap #mainSignup .container .content form ul > li {
  width: 100%;
  padding: 10px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#wrap #mainSignup .container .content form ul > li > div {
  width: 100%;
  height: 45px;
  padding: 0 133.5px;
  position: relative;
}
#wrap #mainSignup .container .content form ul > li > div em {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 14px;
  font-weight: 600;
  color: 333;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#wrap #mainSignup .container .content form ul > li > div em i {
  color: #ee6a7b;
}
#wrap #mainSignup .container .content form ul > li > div > input[type=password],
#wrap #mainSignup .container .content form ul > li > div > input[type=text] {
  z-index: 1;
  position: relative;
  width: 100%;
  height: 45px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #fff;
  padding: 0 14px;
  font-size: 15px;
}
#wrap #mainSignup .container .content form ul > li > div > input[type=password]::-moz-placeholder, #wrap #mainSignup .container .content form ul > li > div > input[type=text]::-moz-placeholder {
  color: #aaa;
}
#wrap #mainSignup .container .content form ul > li > div > input[type=password]::placeholder,
#wrap #mainSignup .container .content form ul > li > div > input[type=text]::placeholder {
  color: #aaa;
}
#wrap #mainSignup .container .content form ul > li > div button {
  width: 123.5px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 1px solid #5f0080;
  color: #5f0080;
  font-size: 14px;
  font-weight: 500;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}
#wrap #mainSignup .container .content form ul > li > div button.hp-num-btn, #wrap #mainSignup .container .content form ul > li > div button.hp-ok-btn {
  color: #ddd;
  border-color: #ddd;
}
#wrap #mainSignup .container .content form ul > li > div button.hp-num-btn.on, #wrap #mainSignup .container .content form ul > li > div button.hp-ok-btn.on {
  color: #5f0080;
  border-color: #5f0080;
}
#wrap #mainSignup .container .content form ul > li > div button.hp-num-btn {
  display: block;
}
#wrap #mainSignup .container .content form ul > li > div button.hp-num-btn.off {
  display: none;
}
#wrap #mainSignup .container .content form ul > li > div button.hp-num-btn2 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li > div button.hp-num-btn2.on {
  display: block;
}
#wrap #mainSignup .container .content form ul > li > div button.addr-search-btn img {
  width: 23px;
}
#wrap #mainSignup .container .content form ul > li > div button.addr-research-btn img {
  width: 23px;
}
#wrap #mainSignup .container .content form ul > li > div .hp-count {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 153px;
  height: 100%;
  display: flex;
  align-items: center;
}
#wrap #mainSignup .container .content form ul > li > div .hp-count i {
  font-size: 14px;
  color: #ee6a7b;
}
#wrap #mainSignup .container .content form ul > li p {
  display: none;
  padding: 8px 133.5px 0 133.5px;
  font-size: 12px;
  color: #f03f40;
}
#wrap #mainSignup .container .content form ul > li p.on {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.hp2 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.hp2.on {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.addr1 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.addr1.on {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.addr2 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.addr2.on {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.addr3 {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.addr3.on {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.addr3 .addr-search-btn {
  position: relative;
  width: 100%;
}
#wrap #mainSignup .container .content form ul > li.addr4 div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 12px;
}
#wrap #mainSignup .container .content form ul > li.addr4 div strong {
  font-size: 12px;
  color: #5f0080;
}
#wrap #mainSignup .container .content form ul > li.addr4 div h5 {
  padding: 10px 0 20px 0;
  font-size: 12px;
  color: #626262;
}
#wrap #mainSignup .container .content form ul > li.addr4 strong {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.addr4.on strong {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.addr4.on {
  height: 45px;
}
#wrap #mainSignup .container .content form ul > li.radio div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#wrap #mainSignup .container .content form ul > li.radio div label {
  font-size: 14px;
  color: #333;
  font-weight: 500;
}
#wrap #mainSignup .container .content form ul > li.radio div label input[type=radio] {
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #ddd;
  border-radius: 50%;
}
#wrap #mainSignup .container .content form ul > li.radio div label input[type=radio]:checked {
  border: 5px solid #5f0080;
}
#wrap #mainSignup .container .content form ul > li.radio div p {
  line-height: 130%;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input {
  display: none;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input div {
  display: block;
  height: auto;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input div p {
  padding: 10px 0;
  color: #999;
  height: auto;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input div #addInputBox2 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input div .add-inpput-p2 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on1 {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on1 #addInputBox1 {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on1 #addInputBox2 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on1 .add-inpput-p1 {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on1 .add-inpput-p2 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on2 {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on2 #addInputBox1 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on2 #addInputBox2 {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on2 .add-inpput-p1 {
  display: none;
}
#wrap #mainSignup .container .content form ul > li.radio.add-input.on2 .add-inpput-p2 {
  display: block;
}
#wrap #mainSignup .container .content form ul > li.birth ul {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  display: flex;
}
#wrap #mainSignup .container .content form ul > li.birth ul li {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #ccc;
}
#wrap #mainSignup .container .content form ul > li.birth ul li:nth-child(odd) {
  width: 32%;
}
#wrap #mainSignup .container .content form ul > li.birth ul li:nth-child(even) {
  width: 2%;
}
#wrap #mainSignup .container .content form ul > li.birth ul li input[type=text] {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  border: 0;
}
#wrap #mainSignup .container .content form ul > li.birth ul li input[type=text]:focus {
  outline: 0;
}
#wrap #mainSignup .container .content form ul > li.row-line {
  padding: 10px 0;
}
#wrap #mainSignup .container .content form ul > li.row-line div {
  padding: 0;
  height: 0;
}
#wrap #mainSignup .container .content form ul > li.row-line div hr {
  width: 100%;
  border: 0;
  height: 1px;
  background: #222;
}
#wrap #mainSignup .container .content form ul > li.row-line.bottom-line hr {
  background-color: #eee;
}
#wrap #mainSignup .container .content form ul > li.survice em {
  margin-top: -10px;
}
#wrap #mainSignup .container .content form ul > li.survice.survice-all label {
  font-size: 18px;
}
#wrap #mainSignup .container .content form ul > li.survice.chk56 label {
  padding: 0 0 0 34px;
}
#wrap #mainSignup .container .content form ul > li.survice.chk56 p {
  padding: 0 0 0 34px;
  color: #5f0080;
  font-size: 12px;
}
#wrap #mainSignup .container .content form ul > li.survice div {
  height: auto;
  padding-right: 0;
}
#wrap #mainSignup .container .content form ul > li.survice div label {
  color: #333;
  font-weight: 500;
}
#wrap #mainSignup .container .content form ul > li.survice div label input[type=checkbox] {
  margin: 0 10px 0 0;
  width: 24px;
  height: 24px;
  background: url(../img/sign_up/check_gray.svg) no-repeat 50% 50%;
  border-radius: 50%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
#wrap #mainSignup .container .content form ul > li.survice div label input[type=checkbox]:checked {
  background-image: url(../img/sign_up/check_purple.svg);
}
#wrap #mainSignup .container .content form ul > li.survice div p {
  margin: 5px 0 0 34px;
  font-size: 12px;
  color: #666;
  letter-spacing: -0.5px;
}
#wrap #mainSignup .container .content form ul > li.button-box {
  padding-top: 40px;
}
#wrap #mainSignup .container .content form ul > li.button-box button {
  position: relative;
  width: 240px;
  height: 56px;
  background-color: #5f0080;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
#wrap #formEventModal {
  display: block;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
#wrap #formEventModal .wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#wrap #formEventModal .wrap .container {
  width: 360px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
#wrap #formEventModal .wrap .container .message-box {
  width: 100%;
  padding: 40px 30px;
}
#wrap #formEventModal .wrap .container .message-box p {
  width: 100%;
  line-height: 140%;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
#wrap #formEventModal .wrap .container .button-box {
  width: 100%;
  border-top: 1px solid #ddd;
}
#wrap #formEventModal .wrap .container .button-box button {
  width: 100%;
  height: 56px;
  background: #fff;
  color: #5f0080;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  cursor: pointer;
}